# 이곳에 docker-compose로 실행할 서비스(컨테이너)들을 정의합니다.
services:
  # 'keycloak' 이라는 이름의 서비스를 정의합니다.
  keycloak:
    # 이 서비스가 사용할 Docker 이미지를 지정합니다.
    # Red Hat의 quay.io 저장소에 있는 keycloak 이미지 21.1 버전을 사용합니다.
    # Keycloak은 사용자 인증/권한 관리를 위한 오픈소스 솔루션입니다.
    image: quay.io/keycloak/keycloak:21.1 
    
    # 컨테이너가 시작될 때 실행할 명령어를 지정합니다.
    # 'start-dev'는 개발 용도로 Keycloak을 시작하는 명령어입니다.
    # command에 넣은 --spi-* 옵션은 개발용: 정적 파일 캐시 무효화 → 테마 변경 즉시 반영. 운영에서는 위 spi-theme-*를 제거

    command:
      - start
      - --http-enabled=true
      - --hostname-strict=false
      - --spi-theme-static-max-age=-1
      - --spi-theme-cache-themes=false
      - --spi-theme-cache-templates=false

    # 컨테이너 내부에서 사용할 환경 변수를 설정합니다.
    environment:
      # Keycloak 관리자 콘솔의 초기 사용자 이름을 'admin'으로 설정합니다.
      KEYCLOAK_ADMIN: admin
      # Keycloak 관리자 콘솔의 초기 비밀번호를 'admin'으로 설정합니다.
      KEYCLOAK_ADMIN_PASSWORD: admin

    # 로컬 컴퓨터(Host)와 컨테이너(Guest)의 포트를 연결합니다.
    # 형식: "HOST:CONTAINER"
    # 로컬 컴퓨터의 8080 포트로 오는 요청을 컨테이너의 8080 포트로 전달합니다.
    # 이를 통해 웹 브라우저에서 http://localhost:8080 으로 Keycloak에 접근할 수 있습니다.
    ports:
      - "8080:8080"
    
    # keycloak 페이지들 테마 수정을 위한 폴더 추가 docker-compose down 다운 후 docker-compose up -d 다시 올려야함
    volumes:
     - ./keycloak-themes:/opt/keycloak/themes
